* {
  box-sizing: border-box;
  text-align: left;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
  background-image: url("../images/concrete_seamless.png")
}

footer {
  background-color: #666666;
  padding: 20px;
  clear: both;
  font-family: 'Helvetica';
  font-size: 20px;
  color: #ffffff;
  border-style: solid none none none;
  border-top-color: #4aaaa5;
  border-width: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form {
  display: flex;
  justify-content: left;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  border-bottom: 2px solid gray;
  position: fixed;
  top: 0;
  width: 100%;
  overflow:scroll;
  z-index: 1;
}

input {
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Arial';
  padding: 10px;
  text-align: left;
  float: left;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.right {
  float: right;
}

.verticalLine {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid gray;
}

.box-set {
  display: flex;
  flex-flow: wrap;
}

.box {
  position: relative;
  width: 290px;
  height: 320px;
  margin: 7px;
  width: 290px;
  height: 320px;
  margin-bottom: 40px;
}

#aboutBold {
  font-family: "Helvetica";
  text-align: left;
  color: #4aaaa5;
  font-size: 30px;
  font-weight: bold;
}

#boxhead a{
  font-size: 16pt;
  color: gray;
  font-family: "Helvetica";
  text-decoration: none;
}

#centerBold {
  font-family: "Helvetica";
  text-align: center;
  color: #4aaaa5;
  font-size: 25px;
  font-weight: bold;
}

#contentArea {
  margin-top: 112px;
  max-width: 960px;
  position: relative;
  left: 150px;
  border: 1px;
  z-index: -1;
}

#contentAreaContact {
  margin-top: 112px;
  max-width: 960px;
  position: relative;
  left: 150px;
  border: 1px;
  z-index: -1;
  background-color: white;
}

#contactBox {
  border: 1px;
  font-family: "Helvetica";
  width: 270px;
  height: 200px;
  background: white;
  padding: 20px;
}

#headerClearfix {
  display: flex;
  justify-content: space-between;
}

#icons {
  position: relative;
  top: 30%;
}

#linkDiv {
  float: right;
  position: relative;
  left: 830px;
}

#nameBox {
  float: left;
  position: absolute;
  top: 0;
  padding-top: 30px;
  margin-left: 140px;
  width: 230px;
  height: 72px;
  background: #4aaaa5;
}

#nameText {
  font-family: "Helvetica";
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 2%;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
}

#projectBox {
  position: absolute;
  bottom: 0%;
  left: 6%;
  padding-top: 30px;
  width: 90%;
  height: 72px;
  background: #4aaaa5;
}

#projectBoxOne {
  position: absolute;
  bottom: -5%;
  left: 7%;
  padding-top: 30px;
  width: 90%;
  height: 72px;
  background: #4aaaa5;
}

#projectText {
  font-family: "Helvetica";
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 3%;
  font-size: 20pt;
  font-weight: bold;
}

#projectTextOne {
  font-family: "Helvetica";
  color: #ffffff;
  position: absolute;
  bottom: 25%;
  left: 7%;
  font-size: 20pt;
  font-weight: bold;
}

#projectTextTwo {
  font-family: "Helvetica";
  color: #ffffff;
  position: absolute;
  bottom: 25%;
  left: 23%;
  font-size: 20pt;
  font-weight: bold;
}

#projectTextThree {
  font-family: "Helvetica";
  color: #ffffff;
  position: absolute;
  bottom: 5%;
  font-size: 20pt;
  font-weight: bold;
}

#rightContent    {
  font-family: "Helvetica";
  text-align: left;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

#side {
  position: relative;
  top: 20%;
  float: left;
  width: 650px;
  padding: 20px;
  margin-left: 10px;
  margin-bottom: 80px;
  background: #fff;
  border: 1px solid #eee;
}

#TextWrap {
  float: left;
  margin: 10px;
}
